<section class="contact popup">
  <div class="popup__close">
    <div class="popup__exit"></div>
  </div>
  <div class="contact__container popup__container">
    <div class="contact__img">
      <figure class="absolute-bg" style="background-image: url({{ site.contact_img | prepend: site.baseurl }});"></figure>
    </div>
    <div class="contact__content">
      <div class="contact__mast section-padding--half">
        <div class="grid">
          <h2>Contact</h2>
        </div>
      </div>

      <div class="section-padding--none">
        <hr class="sep"/>
      </div>

      <div class="contact__form section-padding--half">
          </br>
          <p style="line-height:200%;">&emsp;<img src="/assets/images/email_icon.png" style="width:8%; height:8%; vertical-align:middle"><span style="vertical-align: middle;">&emsp;ian.phillips.715@gmail.com</span>
          </br>
          &emsp;<img src="/assets/images/phone_icon.png" style="width:8%; height:8%; vertical-align:middle"><span style="vertical-align: middle;">&emsp;408-402-1161</span>
          </br>
          &emsp;<img src="/assets/images/linked_in.png" style="width:8%; height:8%; vertical-align:middle">&emsp;<a href="https://www.linkedin.com/in/ian-phillips-a527b0132/" style="vertical-align: middle; text-decoration:underline;">Add me on LinkedIn</a></p>
          </p>
          <br>
          <p style="text-align:center;">Please feel free to reach out! <br> I can respond fastest through text or email.</p>
      </div>
    </div>
  </div>
</section>
