---
layout: default
---
<section class="fog">
<figure class="absolute-bg-fog" style="background-image: url('{{ page.image }}');">
  <img src="/assets/images/name_homepage_wide.png" style="float:left; margin-top:5%; margin-left:5%; height:50%; width:25%"/>
</figure>
<div class="fog__container">
  <div class="fog__img fog__img--first"></div>
  <div class="fog__img fog__img--second"></div>
</div>

</section>


    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown">
          {{content}}
        </div>
      </div>
    </div>
    <div class="posts">
      <div class="grid-xlarge">
        <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>
            <article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"> <a class="posts__link" href="/assets/Resume.pdf" itemprop="url">
              <div>
                <h2 class="posts__text"><strong itemprop="name">Resume</strong></h2>
              </div>
              <figure class="posts__img"> <img src="/assets/images/resume_button_grayscale_bgcolor.png" alt="Resume" data-aos="fade-in" itemprop="image" /></figure>
            </a></article>
            <article class="posts__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting"> <a class="posts__link" href="/tag/projects" itemprop="url">
              <div>
                <h2 class="posts__text"><strong itemprop="name">Projects (Under Construction)</strong></h2>
              </div>
              <figure class="posts__img"> <img src="/assets/images/working_on_Z_bgcolor.png" alt="" data-aos="fade-in" itemprop="image" /></figure>
            </a></article>
        </div>
      </div>
    </div>
  </div>

</section>
